@charset "utf-8";
@font-face {
	font-family: "Radley Regular";
	src: url("Radley-Regular.ttf"); }
@font-face {
	font-family: "Goudy Bookletter 1911 Regular";
	src: url("GoudyBookletter1911-Regular.ttf"); }
@font-face {
	font-family: "Sorts Mill Goudy Regular";
	src: url("SortsMillGoudy-Regular.ttf"); }
@font-face {
	font-family: "Crimson Text Regular";
	src: url("CrimsonText-Regular.ttf"); }
@font-face {
	font-family: "EB Garamond Regular";
	src: url("EBGaramond-Medium.ttf"); }
@font-face {
	font-family: "Trocchi Regular";
	src: url("Trocchi-Regular.ttf"); }
@font-face {
	font-family: "Jersey10 Regular";
	src: url("Jersey10-Regular.ttf"); }
html {
  font-family: "Trocchi Regular";
  font-size: 1.5vh;
  color: #2b2b2b;
  background-color: #F7F5F2;
  text-rendering: optimizeLegibility;
  word-spacing: 0.1em;
  font-feature-settings: 'kern', 'liga', 'cpsp' on;
}
body {
  width: auto;
  margin-inline: calc(max((100vw - 800px) / 2, 5vw));
  margin-bottom: 50vh;
}
h1 {
  font-size: 4.8vh;
  font-family: "Trocchi Regular";
  font-weight: 800;
}
h2 {
  font-size: 3.4vh;
}
hr {
  color: #2b2b2b;
  border-top: 1px solid #2b2b2b;
  border-bottom: 5px solid #d6d5eb;
}
img, video {
  image-rendering: pixelated;
  border: 1px solid #2b2b2b;
  box-shadow: 5px 5px #d6d5eb;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  z-index: 2000;
}
.selfie {
  border: 1px solid #2b2b2b;
  width: 33.3333%;
  border-radius: 0%;
}
a:link, a:visited {
  color: #585cdf;
}
a:hover {
  color: #4907FF;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  margin: 0;
  margin-bottom: 1em;
}
li {
  float: left;
  padding-right: 10pt;
}
.overlay {
  background-image: url('overlay.png');
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1000;
  background-repeat: repeat;
  background-size: auto;
  background-position: 0 0;
  mix-blend-mode: overlay;
  opacity: 0.5;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1px;
  padding: 0px;
}
.grid-item {
  position: relative;
}
.caption {
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  text-align: center;
  padding: 0.5em;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.15);
  z-index: 3000;
  opacity: 0;
  transition: opacity 0.2s ease;
}
.grid-item:hover .caption {
  opacity: 1;
}
